In [1]:
import pandas as pd
from utils import clean_table, extract_expense_items

In [2]:
input_df = pd.read_csv('analisi_spesa_da_note_integrative_20210319.zip')

In [3]:
input_df.head()

,Atoka ID,Codice ATECO 2007,Descrizione ATECO 2007,HTML,costi_produzione,costi_servizi
0,fe0f2a2426c7,68.20.02,Affitto di aziende,"\n <p style=""text-align: justify;""><span styl...",4398880.0,1332892.0
1,f9ed72d78870,01.2,COLTIVAZIONE DI COLTURE PERMANENTI,"<p style=""text-align: justify;""><span style=""f...",334301.0,56842.0
2,f8cd0f483c5a,30.11.02,Cantieri navali per costruzioni metalliche e n...,"<span style='font:7.0pt ""Times New Roman""'></s...",8122105.0,3519079.0
3,d3ea46a2e05e,23.51.00,Produzione di cemento,"<div style=""margin:10px; padding:0px;"">\n\t<p ...",99161175.0,37313502.0
4,ca44e0154273,62.01.00,Produzione di software non connesso all'edizione,"<span style=""font-family:'Arial';font-size:12p...",2596157.0,378691.0

In [4]:
input_df.dtypes

Atoka ID                   object
Codice ATECO 2007          object
Descrizione ATECO 2007     object
HTML                       object
costi_produzione          float64
costi_servizi             float64
dtype: object

In [5]:
input_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 896 entries, 0 to 895
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Atoka ID                896 non-null    object
 1   Codice ATECO 2007       896 non-null    object
 2   Descrizione ATECO 2007  896 non-null    object
 3   HTML                    896 non-null    object
 4   costi_produzione        896 non-null    float64
 5   costi_servizi           896 non-null    float64
dtypes: float64(2), object(4)
memory usage: 42.1+ KB

In [6]:
input_df.isna().sum()

Atoka ID                  0
Codice ATECO 2007         0
Descrizione ATECO 2007    0
HTML                      0
costi_produzione          0
costi_servizi             0
dtype: int64

In [7]:
tables_df = input_df['HTML'].apply(pd.read_html, decimal=",", thousands='.')

expenses_items = []

for (company_id, company), tables in zip(input_df.iterrows(), tables_df):
    cleaned_tables = [clean_table(t) for t in tables]
    expenses_items.append(extract_expense_items(cleaned_tables, company))

companies_and_expenses = match_items_different_companies(input_df, expenses_items)

The first column that should contain only items names, but it contains numbers

IndexError: index 0 is out of bounds for axis 0 with size 0